.container {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;
  width: 147px;
  text-align: center;
  padding-bottom: 10px;
}

.price-tag {
  margin-top: 5px;
  font-size: 24px;
  color: #505050;
}

.image {
  max-width: 95%;
  max-height: 95%;
}

.name-tag {
  font-family: var(--pressStart2Play);
  font-size: 14px;
  color: #505050;
  text-transform: capitalize;
}

@media screen and (min-width: 500px) {
  .container {
    width: 200px;
  }

  .price-tag {
    font-size: 30px;
  }

  .name-tag {
    font-size: 18px;
  }
}
