@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 30px,
    #e6f9ff 30px,
    #e6f9ff 60px
  );
  background-attachment: fixed;

  /* variables */
  --pressStart2Play: "Press Start 2P", cursive;
}

a {
  text-decoration: none;
}

main {
  max-width: 900px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgba(100, 100, 100, 0.5);
  padding: 10px;
  min-height: 75vh;
}

@media screen and (min-width: 500px) {
  main {
    padding: 40px;
  }
}
