@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  margin: 0;
  --pressStart2Play: "Press Start 2P", cursive;
  font-family: "Varela Round", sans-serif;
}

main {
  max-width: 900px;
  margin: auto;
}

a {
  text-decoration: none;
}
